{# register.html #}
{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block title %}
新規ユーザー登録 - {{ super() }}
{% endblock %}
{% block content %}
<h1>ユーザー新規登録</h1>
<div class="row">
  <form method="POST">
    {{ form.csrf_token }}
    {{ render_field(form.username) }}
    {{ render_field(form.email) }}
    {{ form.submit() }}
  </form>
  {% for message in get_flashed_messages() %}
    <div class="alert alert-info" role="alert">
    {{ message }}
    </div>
  {% endfor %}
  <div class="row mt-3">
  <p>既にアカウントをお持ちですか？ <a href="{{ url_for('app.login') }}">ログイン</a></p>
  </div>
</div>
{% endblock %}